body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightsteelblue;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Header */
.header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  width: 100%;
  height: 100px;
  border-style: solid;
  border-width: 5px;
  background-image: url(/src/assets/HeaderImg/cool-background.png);
}

.myName {
  display: flex;
  flex-wrap: wrap;
  font-size: 32px;
}

/* ABOUT */
.aboutParagraph {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 32px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
}


/* .profilePic{
  width: 25px;
  height: 25px;
  background-image: url(/src/assets/20190504_145300_HDR.jpg);
} */
.links {
  padding: 35px 35px 35px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  width: 100%;
  height: 60px;
  color: white;
  text-shadow: 3px 3px 6px black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footerBackground {
  padding: 20px 35px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-image: url(/src/assets/HeaderImg/cool-background.png);
  text-align: center;
}
.footer {
  color: white;
  text-shadow: 3px 3px 6px black;
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
}
.footerInfo {
  color: white;
  text-shadow: 3px 3px 6px black;
}


.userName {
  padding: 25px;
}
.userNameTextBox {
  color: grey;
  border-radius: 2px;
  background-color: lightgrey;
  padding: 15px 20px;
  margin: auto;
  width: 90%;
  height: 80%;
  transition: 0.5s;
  display: flex;
  flex-wrap: wrap;
}
.userEmail {
  padding: 25px;
}
.userMessage {
  padding: 25px;
}
.emailTextBox {
  color: grey;
  border-radius: 2px;
  background-color: lightgrey;
  padding: 15px 20px;
  margin: auto;
  width: 90%;
  height: 80%;
  transition: 0.5s;
  display: flex;
  flex-wrap: wrap;
}
.messageField {
  width: auto;
  height: 200px;
}


.messageTextBox {
  color: grey;
  border-radius: 2px;
  background-color: lightgrey;
  padding: 15px 20px;
  margin: auto;
  width: 90%;
  height: 80%;
  transition: 0.5s;
  display: flex;
  flex-wrap: wrap;
}
/* .feedback {
  display: flex;
  flex-wrap: wrap;
} */
.textEntry {
  display: flex;
  flex-wrap:wrap;
}



.portfolioDiv {
  text-align: center;
}



