body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightsteelblue;
}
/* div {
  padding: 2px;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* h1 {
  font-size: large;
  color: red;
} */
.header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  width: 100%;
  height: 100px;
  background-image: url(/src/assets/HeaderImg/cool-background.png);
}
/* .profilePic{
  width: 25px;
  height: 25px;
  background-image: url(/src/assets/20190504_145300_HDR.jpg);
} */
.links {
  padding: 35px 35px 35px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  width: 100%;
  height: 60px;
  color: red;
}
.footerBackground {
  padding: 20px 35px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-image: url(/src/assets/HeaderImg/cool-background.png);
  text-align: center;
}
.footer {
  color: #cfc547;

  text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8);
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
}
.footerInfo {
  color: #cfc547;

  text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8);
}

.userEmail {
  padding: 5px;
}
.messageField {
  width: auto;
  height: 200px;
}

.messageTextBox {
  color: grey;
  border-radius: 2px;
  background-color: lightgrey;
  padding: 15px 20px;
  margin: auto;
  width: 90%;
  height: 80%;
  transition: 0.5s;
}
/* .feedback {
  display: flex;
  flex-wrap: wrap;
} */
.textEntry {
  display: flex;
  flex-wrap:wrap-reverse;
}